.title{
    color: rgb(15, 13, 15);
    background-color: darkslategray;
    text-align: center;
    margin-top: 25px;
}
.form{
    margin: auto;
    max-width: 83%;
    text-align: center;
}
input[¨type='submit'], button,[aria-label]{
    cursor: pointer;
}
#edit-box{
    display: none;
    max-width: 85%;
    margin: auto;
    margin-top: 10px;
}